.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FBF9F7;
    color: #372F2B;
}

.horizontal-group {
    flex-direction: row !important;
    align-items: flex-end;
}


.form-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: "Inter", sans-serif;
}

.form-control,
.form-select {
    border-color: #D6C5B8;

}

.date-row {
    display: flex;
    gap: 1rem;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
}

.bottom-buttons {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.right-buttons {
  display: flex;
  gap: 10px;
}


.secondary i {
    margin-right: 4px;
    vertical-align: middle;
}

.secondary {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background-color: #E8DED4;
    color: #372F2B;
    border: 1px solid #D6C5B8;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.delete{
     background-color: #df8989
}

.accordion-title-btn {
    background: none;
    border: none;
    font-weight: 600;
    padding: 0;
}

.accordionTitle {
    font-size: 20px;
    font-weight: 500 !important;
    margin-left: 15px;
}


.save {
    background-color: #A48A78;
    color: #f0e6dd;
}

.cancel {
    background-color: #D6C5B8;
}

.custom-table {
    font-family: "Inter", sans-serif;
    color: #372F2B;
}

.custom-table th {
    background-color: #E8DED4;
    color: #372F2B;
}

.custom-table td {
    vertical-align: middle;
}

.btn-outline-danger {
    border: none;
    color: #df8989;
    font-size: 1rem;
    text-align: center;
}

.btn-outline-danger:hover {
    color: #df8989;
    background: transparent;
}

.modal-title {
    margin-left: 115px;
}