<div class="form-container">
  <form [formGroup]="itineraryForm" class="form-box">

    <div class="form-group horizontal-group gap-3">

      <div class="col-sm-6">
        <label class="form-label">Destino</label>
        <select class="form-select" formControlName="destination">
          <option value="Orlando">Orlando</option>
          <option value="París">París</option>
          <option value="Cancún">Cancún</option>
        </select>
      </div>

      <div class="col-sm-6">
        <label class="form-label">Presupuesto Inicial</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="number" class="form-control" formControlName="budget">
        </div>
      </div>

    </div>


    <div class="form-group horizontal-group gap-3">
      <div class="col-sm-6">
        <label class="form-label">Fecha Desde</label>
        <div class="date-row">
          <input class="form-control" ngbDatepicker #dp1="ngbDatepicker" (click)="dp1.toggle()"
            formControlName="dateFrom">
        </div>
      </div>
      <div class="col-sm-6">
        <label class="form-label">Fecha Hasta</label>
        <div class="date-row">
          <input class="form-control" ngbDatepicker #dp2="ngbDatepicker" (click)="dp2.toggle()"
            formControlName="dateTo">
        </div>
      </div>
    </div>

    <div ngbAccordion class="mt-3">

      <!-- ACORDEÓN ACTIVIDADES -->
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader class="d-flex justify-content-between align-items-center w-100">
          <label class="accordionTitle">Actividades</label>
          <div class="d-flex align-items-center gap-2">
            <button type="button" class="btn btn-sm secondary"
              (click)="openActividadModal(activityModal); $event.stopPropagation()">
              <i class="fa-solid fa-plus"></i> Agregar
            </button>
            <button ngbAccordionButton class="accordion-toggle-btn"></button>
          </div>

        </h2>

        <div ngbAccordionCollapse>
          <div ngbAccordionBody>

            <table class="table table-sm custom-table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Dirección</th>
                  <th>Importe</th>
                  <th style="text-align: center;">Eliminar</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of activities; let i = index">
                  <td>{{ item?.name }}</td>
                  <td *ngIf="item">{{ item?.dateFrom?.day}}-{{ item?.dateFrom?.month }}-{{ item?.dateFrom?.year }}</td>
                  <td>{{ item?.address }}</td>
                  <td *ngIf="item">${{ item?.import }}</td>
                  <td *ngIf="item" style="text-align: center;">
                    <button class="btn btn-sm btn-outline-danger" (click)="removeActivity(i)">
                      ✖
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>

      <!-- ACORDEÓN TRANSPORTES -->
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader class="d-flex justify-content-between align-items-center w-100">
          <label class="accordionTitle">Transportes</label>
          <div class="d-flex align-items-center gap-2">
            <button class="btn btn-sm secondary" (click)="openTransporteModal(transporteModal)">
              <i class="fa-solid fa-plus"></i> Agregar
            </button>
            <button ngbAccordionButton class="accordion-toggle-btn"></button>
          </div>

        </h2>

        <div ngbAccordionCollapse>
          <div ngbAccordionBody>

            <table class="table table-sm custom-table">
              <thead>
                <tr>
                  <th>Medio</th>
                  <th>Fecha</th>
                  <th>Destino</th>
                  <th>Importe</th>
                  <th style="text-align: center;">Eliminar</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of transports; let i = index">
                  <td>{{ item?.mode }}</td>
                  <td *ngIf="item">{{ item?.date.day }}-{{ item?.date.month }}-{{ item?.date.year }}</td>
                  <td>{{ item?.destination }}</td>
                  <td *ngIf="item">${{ item?.import }}</td>
                  <td *ngIf="item" style="text-align: center;">
                    <button class="btn btn-sm btn-outline-danger" (click)="removeTransport(i)">
                      ✖
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
      <div class="total">
        <label class="form-label">
          Total del presupuesto con los gastos aplicados: {{total}}

        </label>
      </div>
    </div>

    <div class="bottom-buttons">
      <button class="btn btn-sm cancel btn-left" (click)="goToHome()"><i class="fa-solid fa-arrow-left"></i>
        Volver</button>
      <div class="right-buttons">
        <button class="btn btn-sm delete" (click)="openDeleteModal(deleteModal)"> <i
            class="fa-regular fa-trash-can"></i> Eliminar</button>
        <button type="submit" class="btn btn-sm save" (click)="confirm();"><i class="fa-regular fa-circle-check"></i>
          Confirmar</button>
      </div>
    </div>
  </form>
</div>

<!-- Modal Actividad -->
<ng-template #activityModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Actividad</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <form [formGroup]="activityForm" class="w-75">

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Nombre de la Actividad</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Fecha</label>
          <input class="form-control" ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle()"
            formControlName="dateFrom" />
        </div>

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Dirección</label>
          <input type="text" class="form-control" formControlName="address">
        </div>

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Importe</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" formControlName="import">
          </div>
        </div>

      </form>
    </div>
  </div>


  <div class="modal-footer">
    <button class="btn btn-sm cancel" (click)="cancelActivity(activityModal)"><i class="fa-solid fa-ban"></i>
      Cancelar</button>
    <button class="btn btn-sm save" (click)="saveActivity(modal)"><i class="fa-regular fa-floppy-disk"></i>
      Guardar</button>

  </div>
</ng-template>

<!-- Modal Transporte -->
<ng-template #transporteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Transporte</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <form [formGroup]="transportForm" class="w-75">
        <div class="col-sm-9 mx-auto">
          <label class="form-label">Medio de transporte</label>
          <select class="form-select" formControlName="mode">
            <option value="Avión">Avión</option>
            <option value="Tren">Tren</option>
            <option value="Bus">Bus</option>
          </select>
        </div>

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Fecha</label>
          <input class="form-control" ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle()" formControlName="date" />
        </div>

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Destino</label>
          <input type="text" class="form-control" formControlName="destination">
        </div>

        <div class="col-sm-9 mx-auto">
          <label class="form-label">Importe</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" formControlName="import">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm cancel" (click)="cancelTransport(transporteModal)"><i class="fa-solid fa-ban"></i>
      Cancelar</button>
    <button class="btn btn-sm save" (click)="saveTransport(modal)"><i class="fa-regular fa-floppy-disk"></i>
      Guardar</button>
  </div>
</ng-template>

<!-- Modal Eliminar Itinerario -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Itinerario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <label>Se eliminarán todos los datos registrados en el formulario. ¿Desea confirmar acción?</label>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm cancel" (click)="cancelDelete(deleteModal)"><i class="fa-solid fa-ban"></i>
      Cancelar</button>
    <button class="btn btn-sm save" (click)="delete()"><i class="fa-solid fa-check"></i> Aceptar</button>
  </div>

</ng-template>