<div class="background-home">
  <header>
    <div class="title-home">
      <h1>Planificador de Viajes</h1>
    </div>
  </header>

  <main>
    <div class="carousel-row">
      <div class="card" style="width: 23rem;" *ngFor="let item of data; let i = index">
        <img [src]="setCardImage(item)" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.itinerary.destination }}</h5>

          <p class="card-text">
            Fecha:
            {{ item.itinerary.dateFrom.day }} -
            {{ item.itinerary.dateFrom.month }} -
            {{ item.itinerary.dateFrom.year }}
          </p>

          <p class="card-text">
            Estado:
            <span [ngClass]="getEstadoClass(item.itinerary.dateFrom)">
              {{ getEstado(item.itinerary.dateFrom) }}
            </span>
          </p>

          <button class="btn btn-sm show" (click)="itinerary('view', i)">
            <i class="fa-solid fa-eye"></i> Ver Itinerario
          </button>
        </div>
      </div>

      <button class="btn btn-md new-itinerary-btn" (click)="itinerary('new')">
        <i class="fa-solid fa-plus"></i> Crear Itinerario
      </button>
    </div>
  </main>
  <footer>
    <small>&copy;Taller de Proyectos II - Trabajo Final - Denise Arzac</small>
  </footer>
</div>