.background-home{
    background-color: #FBF9F7;
    color: #372F2B;
     display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.btn{
    background-color: #A48A78;
    color: #FBF9F7;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1rem;
}

.title-home{
    text-align: center;
    font-size: 50px;
    margin-top: 25px;

}

h1, h2, h3, .title {
  font-family: "Playfair Display", serif;
}

body, input, button, textarea, select, label, p, span {
  font-family: "Inter", sans-serif;
}

.carousel-row {
  display: flex;
  justify-content: center;  /* Centra TODA la fila (cards + botón) */
  align-items: center;
  gap: 1rem;                 /* Espacio entre card y card, y entre la última card y el botón */
  width: 100%;
  margin: 2rem 0;
}

.new-itinerary-btn {
  height: fit-content;       /* Para que quede alineado con la card */
  white-space: nowrap;       /* Para que no se corte el texto */
}

.show{
    background-color: #D6C5B8;
    color: #372F2B;
}

.card-img-top {
  width: 100%;
  height: 180px;      /* Ajustá este valor si querés más alto/bajo */
  object-fit: cover;  /* Mantiene proporciones y recorta si es necesario */
  object-position: center;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}



